@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
.container{
  margin: auto;
  width: 60%;
  min-height: 800px;
}

.formContainer{
  width: 45%;
  margin: auto;
  margin-top: 2%;
}

.footerFlex{
  width: 60%;
  margin: auto;
}
.footerLine{
  width: 57%;
  margin:auto;
  margin-top: 5%;
}
.resultsTable{
  width: 70%;
  margin: auto;
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 */
